<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
		<h3>Liczba wypożyczeń rowerów w ciągu tygodnia</h3>
		<div id="pieChart">
			<%= pie_chart(@hireHash) %>
		</div>
		<div id="barChart">
			<%= column_chart(@hireHash) %>
		</div>
	</div>
	<div class="col-md-1"></div>

</div>