<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <h3>Analiza średniego czasu wypożyczenia rowerów</h3>
    <p>Średni czas wypożyczenia w ciągu ostatniego dnia: 01:48:21 </p>
    <p>Średni czas wypożyczenia w ciągu ostatniego tygodnia: 06:51:26</p>
    <p>Średni czas wypożyczenia w ciągu ostatniego miesiąca: 06:33:34 </p>
    <p>Średni czas wypożyczenia w ciągu ostatnich 3 misięcy: 08:48:52</p>
    <p>Średni czas wypożyczenia: 09:42:19</p>
  </div>
  <div class="col-md-1"></div>
</div>