<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-8">
    <h3>Najczęstsze trasy przemieszczeń</h3>
    <% @mostPopularTraffic.each do |traffic| %>
      <p>
        Z klastra: <%=  traffic.fromCluster %> do klastra <%= traffic.toCluster %> -> Liczba przemieszczeń: <%= traffic.count %>
      </p>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>