<div class="container-fluid">
  <div class="row bikeRoutes">
  	<div class="col-md-9">
  		<div class="row">
  		<h3>Wyszukaj połączenie</h3>
		  	<div class="col-md-6">
				<h4>Początek trasy <%= button_tag "Najbliższa stacja" %></h4>
				<input type="text" name="BeginingOfRoute" id="stationName">
		  	</div>
		  	<div class="col-md-6">
		  		<h4>Koniec trasy</h4>
		  		<input type="text" name="EndOfRoute" id="stationName">
		  	</div>
		 </div>
		 <div class="row">
		  	<div class="col-md-4"></div>
		  	<div class="col-md-3">
				<%= button_tag "Szukaj" %>
		  	</div>
		  	<div class="col-md-5"></div>
		 </div>
		<div id="map" style='width: 100%; height: 350px;'></div>
  	</div>
  	<div class="col-md-1"></div>
  </div>
</div>


<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ internal: {id: 'map'}}, function(){
	  if(navigator.geolocation)
	    navigator.geolocation.getCurrentPosition(displayOnMap);
	});

	function displayOnMap(position){
	  var marker = handler.addMarker({
	    lat: position.coords.latitude,
	    lng: position.coords.longitude,
	    picture: {
	          url:  "/assets/location76.png" ,
	          width:  32,
	          height: 32
	        },
	        infowindow: "Tu jesteś :)"
	  });
	  var markers = handler.addMarkers( <%= raw @hash.to_json %> );
	  handler.map.centerOn(marker);
	  handler.getMap().setZoom(15);
	};

</script>