<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a href="#">Analiza danych<span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li ><a href="#">Częstotliwość przemieszczeń <span style="font-size:14px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li ><a href="/analysis/availability">Dostępność rowerów <span style="font-size:14px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li ><a href="/analysis/agglomerative"> Klastrowanie aglomeracyjne  <span style="font-size:14px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li ><a href="/analysis/kmeans"> Klastrowanie k-średnich <span style="font-size:14px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li ><a href="/analysis/hire">Liczby wypożyczeń <span style="font-size:14px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li ><a href="/analysis/hirefrequency">Częstotliwość wypożyczeń <span style="font-size:14px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li ><a href="#">Średni czas wypożyczenia <span style="font-size:14px;" class="pull-right hidden-xs showopacity"></span></a></li>
        <li ><a href="#">Wpływ pogody <span style="font-size:14px;" class="pull-right hidden-xs showopacity"></span></a></li>
      </ul>
    </div>
  </div>
</nav>